.inter-color{
    color: blue;
}

.milan-color{
    color: red;
}

.juve-color{
    color: black;
}

.borderedTeam{
    border: 2px dashed violet;
    max-width: 40%;
}

.container-foto{
    width: 50%;
}

.dimension-foto{
    width: 100%;
}